body {
  background: url(../images/scropoin.png) no-repeat,
  url(../images/scropoinflip.png);
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
}

.claw {
  height: 100px;
  margin-left: 30%;
  margin-top: 50%;
  position: absolute;
  width: 100px;
  z-index: 1000; 
}